@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-800 text-contrast-dark;
}

#root {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
}

main {
  grid-row: 2;
}

.os-scrollbar.os-scrollbar-vertical {
  width: 8px;
}

.os-theme-light.os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: rgba(248, 250, 252, 0.3);
}

.os-theme-light.os-scrollbar:hover
  > .os-scrollbar-track
  > .os-scrollbar-handle {
  background: rgba(248, 250, 252, 0.4);
}

#drawers-portal {
  position: relative;
  z-index: 800;
}

#modals-portal {
  position: relative;
  z-index: 1000;
}

.markdown {
  font-size: 0.8rem;
}
.markdown * {
  all: revert;
}

.markdown ul {
  padding-left: 1.3em;
}

.markdown a {
  @apply text-sky-400;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply bg-slate-400;
  border-radius: 100em;
  height: 2px;
  @apply transition-colors duration-100;
}

input[type="range"]::-webkit-slider-runnable-track:hover {
  @apply bg-slate-300;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  @apply bg-yellow-500;
  border-radius: 10em;
  height: 8px;
  width: 8px;
  margin-top: -3px;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 1px solid;
  @apply outline-slate-100;
  outline-offset: 2px;
}