@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr;

  @apply bg-slate-800 text-contrast-dark;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  grid-row: 2;
}

.os-scrollbar.os-scrollbar-vertical {
  width: 8px;
}

.os-theme-light.os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: rgba(248, 250, 252, 0.3);
}

.os-theme-light.os-scrollbar:hover > .os-scrollbar-track > .os-scrollbar-handle {
  background: rgba(248, 250, 252, 0.4);
}